.Confirm{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  border: 1px solid #000;
  background-color: #f5f5f5;

}

.Confirm_child{
  width: 450px;
  height: 400px;
  background-color: white;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  border-radius: 10px;

} 
.Confirm_child > div{
  text-align: center;
}
