.Login {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-image: url('../../../assets/img/Background_login.png');
    background-size: cover;
    object-fit:cover;

  }
  .Parent_form {
    height: auto;
    padding: 10px;
    background-color: white;
    border-radius: 15px;
    border: none;
  }

  .Login>form {
    width: 900px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 2rem;

  }
 
  .Login_title {
    text-align: center;
  }
  .input {
    width: 300px;
    height: 50px;
    border-radius: 10px;
    border: 1px solid #90a0b7;
    outline: none;
    font-size: 18px;
    padding: 7px;
  }
  .submit {
    width: 315px;
    height: 45px;
    border-radius: 7px;
    background-color: #377dff;
    font-size: 20px;
    color: white;
    border: none;
  }
  .submit:hover{
      background-color: rgb(5, 69, 197);
  }
  .parent_checkbox {
    width: 300px;
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
    
  }
  .parent_checkbox > label{
    margin-left: 10px;
  }
  .checkbox {
    width: 20px;
    height: 20px;
    
  }
  .formInput {
    width: 300px;
    display: flex;
    flex-wrap: wrap;
  }
  
  .span_register {
    font-size: 15px;
    padding: 3px;
    color: red;
    text-align: left;
    display: none;
  }
  
  input:invalid[focused="true"] ~ span {
    display: block;
  }
  

  
  .tizimga_kirish_btn {
    width: 315px;
    height: 45px;
    border: 2px solid #377dff;
    background-color: white;
    border-radius: 7px;
    font-size: 20px;
    color: #377dff;
  }
  .Parent_Register_btn {
    width: 400px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .tizimga_kirish_btn:hover {
    background-color: #377dff;
    color: white;
  }
  