.recover {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  border: 1px solid #000;
  background-color: #f5f5f5;
  
}
.recover_wrapp {
  display: flex;
  flex-flow: wrap;
  justify-content: center;
}

.recover_child {
  width: 600px;
  height: 500px;
  background-color: rgb(255, 255, 255);
  border-radius: 15px;
  border: none;
}
.recover_from {
  width: 600px;
  height: 500px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.recover_text {
  text-align: center;
}
.recover_wrapper_input_btn {
  width: 500px;
  height: 170px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-bottom: 2rem;
}
.recover_input_item {
  width: 400px;
}
.recover_submit {
  width: 400px;
  height: 40px !important;
  border-radius: 7px !important;
}
