.site-layout-background {
  width: 70%;
  background: #fff;
  margin: 10px auto;
  padding: 1.5rem 0;
  border-radius: 10px;
}
.order-placed-img {
  width: 336px;
  height: 336px;
  object-fit: cover;
  display: block;
}
.site-layout-wrapper {
  height: 100%;
  padding: 0rem 4rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.site-layout-wrapper h2 {
  font-size: 24px;
  font-weight: 700;
  letter-spacing: 1px;
  color: #323b4b;
  line-height: 34px;
}
.site-layout-wrapper p {
  font-size: 14px;
  font-weight: 500;
  line-height: 10px;
  letter-spacing: 1px;
  color: #666666;
}
.site-layout-buttons {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 24px;
}
.site-layout-buttons button {
  border: none;
  margin: 0 10px;
  width: 40%;
  padding: 10px 15px;
  border-radius: 6px;
  font-weight: 500;
  font-size: 16px;
  transition: all 0.3s ease;
  cursor: pointer;
}
.site-layout-buttons button:first-child {
  background-color: #e0e7ff;
  color: #4338ca;
}
.site-layout-buttons button:last-child {
  background-color: #377dff;
  color: #fff;
}
.site-layout-buttons button:first-child:hover {
  background-color: #d3d9ee;
}
.site-layout-buttons button:last-child:hover {
  background-color: #3471e2;
}
/* btn open close sidebar  */
.trigger {
  padding: 0 24px;
  font-size: 18px;
  line-height: 64px;
  cursor: pointer;
  transition: color 0.3s;
}

.trigger:hover {
  color: #1890ff;
}

.logo {
  height: 32px;
  margin: 16px;
  /* background: rgba(255, 255, 255, 0.3); */
}

.site-layout .site-layout-background {
  background: #fff;
}
@media (max-width: 391px) {
  .site-layout-background {
    width: 100%;
    padding: 0.5rem 0;
  }
  .order-placed-img {
    width: 226px;
    height: 226px;
  }
  .site-layout-wrapper {
    padding: 1rem;
  }
  .site-layout-wrapper h2 {
    font-size: 18px;
    letter-spacing: 0.5px;
    line-height: 28px;
  }
  .site-layout-wrapper p {
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 1px;
  }
  .site-layout-buttons {
    display: block;
  }
  .site-layout-buttons button {
    width: 90%;
    margin: 10px;
  }
}
