.step4_container {
  background: #fff;
  margin: 10px auto;
  padding: 1.5rem;
  border-radius: 10px;
  position: relative;
  min-height: 55vh;
}
.nav-btns {
  width: 100%;
  margin: 15px 0;
}
h3,
.step4_container h3 {
  width: 100%;
  font-size: 18px;
  font-weight: 600;
  line-height: 23px;
  letter-spacing: 0.75px;
  text-align: left;
}
.step4_container label {
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
}
.step4_btns {
  margin: 0 10px;
  padding: 1rem 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 6px;
}
.prev-next-btns {
  margin: 20px 0;
  width: 100%;
  display: flex;
  justify-content: end;
  align-items: center;
}
.prev-next-btns .ant-form-item-control-input-content {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (max-width: 391px) {
  .nav-btns {
    display: flex !important;
    flex-direction: column !important;
    justify-content: center !important;
    align-items: center !important;
  }
  .ant-btn {
    padding: 12px 24px;
    width: 100% !important;
  }
}
