@import "../../styles/mixins";

.headers-header {
}
.search {
  margin-left: 10px;
  width: 265px;
  display: flex;
  align-items: center;
}

.header {
  background-color: white;
  width: 100%;
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.language-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.bg {
  display: flex;
  align-items: center;
  background-color: #f9fafe;
  width: 42px;
  height: 42px;
  border-radius: 50%;
}

.bg svg {
  width: 18px;
  height: 20px;
  margin-top: 0;
}

.header-notify {
  width: 235px;
  display: flex;
  justify-content: space-around;
}
