@import "../../styles/mixins";

.main-content {
  width: 100%;
}
aside {
  // display: block;
  min-height: 99vh;
}
.layout-container {
  min-height: 100vh;
}
// .ant-form {
//   width: 100%;
// }
