@import '../../styles/mixins';

.admin-layout {

}
.main-content {
    width: 100%;
}
.layout-container{
    height: 100vh;
}
.site-layout-background{
    width: 70%;
    background: rgb(255, 255, 255);
    margin: 20px auto;
    border-radius: 10px;    
}
.order-placed-img{
    width:336px;
    height: 336px;
}
.site-layout-wrapper{
    height: 100%;
    padding: 1rem 4rem;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.site-layout-wrapper h2{
    font-size:24px;
    font-weight: 700;
    letter-spacing: 1px;
    color: #323B4B;
    line-height: 34px;
}
.site-layout-wrapper p{
    font-size:14px;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 1px;
    color: #666666;
}
.site-layout-buttons{
    width: 100%;
    display:flex;
    justify-content: center;
    align-items:center;
}
.site-layout-buttons button{
    border:none;
    margin: 0 10px;
    width:40%;
    padding: 10px 15px;
    border-radius:6px;
    font-weight: 500;
    font-size: 16px;
    transition:all 0.3s ease;
    cursor:pointer;
}
.site-layout-buttons button:first-child{
    background-color:#E0E7FF;
    color:#4338CA;
}
.site-layout-buttons button:last-child{
    background-color:#377DFF;;
    color:#fff;
}
.site-layout-buttons button:first-child:hover{
    background-color:#d3d9ee;
}
.site-layout-buttons button:last-child:hover{
    background-color:#3471e2;;
}
/* btn open close sidebar  */
.trigger {
  padding: 0 24px;
  font-size: 18px;
  line-height: 64px;
  cursor: pointer;
  transition: color 0.3s;
}

.trigger:hover {
  color: #1890ff;
}

.logo {
  height: 32px;
  margin: 16px;
  /* background: rgba(255, 255, 255, 0.3); */
}

.site-layout .site-layout-background {
  background: #fff;
}
