@import '../../styles/mixins';

.admin-layout {

}
.main-content {
    width: 100%;
}
.layout-container{
    min-height: 100vh;
}
.site-layout-background{
    width: 70%;
    background: #fff;
    margin: 10px auto;
    padding:1.5rem 0;
    border-radius: 10px;    
}
.order-placed-img{
    width:336px;
    height: 336px;
}
.site-layout-wrapper{
    height: 100%;
    padding: 0rem 4rem;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.site-layout-wrapper h2{
    font-size:24px;
    font-weight: 700;
    letter-spacing: 1px;
    color: #323B4B;
    line-height: 34px;
}
.site-layout-wrapper p{
    font-size:14px;
    font-weight: 500;
    line-height: 10px;
    letter-spacing: 1px;
    color: #666666;
}
.site-layout-buttons{
    width: 100%;
    display:flex;
    justify-content: center;
    align-items:center;
}
.site-layout-buttons button{
    border:none;
    margin: 0 10px;
    width:40%;
    padding: 10px 15px;
    border-radius:6px;
    font-weight: 500;
    font-size: 16px;
    transition:all 0.3s ease;
    cursor:pointer;
}
.site-layout-buttons button:first-child{
    background-color:#E0E7FF;
    color:#4338CA;
}
.site-layout-buttons button:last-child{
    background-color:#377DFF;;
    color:#fff;
}
.site-layout-buttons button:first-child:hover{
    background-color:#d3d9ee;
}
.site-layout-buttons button:last-child:hover{
    background-color:#3471e2;;
}
/* btn open close sidebar  */
.trigger {
  padding: 0 24px;
  font-size: 18px;
  line-height: 64px;
  cursor: pointer;
  transition: color 0.3s;
}

.trigger:hover {
  color: #1890ff;
}

.logo {
    background-color:red;
  height: 32px;
  margin: 16px;
  /* background: rgba(255, 255, 255, 0.3); */
}

.site-layout .site-layout-background {
  background: #fff;
}

// step2 styling
.step2_container{
    width: 95%;
    background: #fff;
    margin: 10px auto;
    padding:1.5rem;
    border-radius: 10px;    
}
.step2_container h3{
    font-size:18px;
    font-weight: 600;
    line-height: 23px;
    letter-spacing: 0.75px;
    text-align: left;
}
.step2_container label {
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
}
.pasport-image{
    width: 100%;
    display:flex;
    align-items: center;
}
.pasport-btns {
    width: 100%;
    display:flex;
    justify-content: end;
    align-items: center;
}
.pasport-btns .ant-form-item-control-input-content{
    width: 100%;
    display:flex;
    justify-content: center;
    align-items: center;
}
.step-1-image-upload {
    display: flex;
    justify-content: flex-start;
    align-items: center;

    .ant-upload-picture-card-wrapper {
        width: auto;
    }

    .ant-upload.ant-upload-select-picture-card {
        width: auto;
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 46px 5px;

        h2 {
            font-family: 'Inter';
            font-style: normal;
            font-weight: 500;
            font-size: 14px;
            line-height: 20px;
            color: #4F46E5;
        }

        h3 {
            font-family: 'Inter';
            font-style: normal;
            font-weight: 400;
            font-size: 12px;
            line-height: 16px;
            text-align: center;
            color: #6B7280;
        }
    }

    &-right {
        margin-left: 16px;

        h2 {
            font-family: 'Inter';
            font-style: normal;
            font-weight: 500;
            font-size: 14px;
            line-height: 20px;
            color: #374151;
        }

        h3 {
            font-family: 'Roboto';
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            line-height: 140%;
            color: #B0B7C3;
            margin-top: 8px;
        }

        .ant-btn.ant-btn-default.btn-upload {
            background: rgba(55, 125, 255, 0.1);
            border-radius: 8px;
            margin-top: 16px;
            display: inline-block;
            color: #377DFF;

            img{
                margin-right: 5px;
            }
        }

        a:link {
            color: #377DFF;
        }
        a:hover{
            color: #8db3fa;
        }

        a:active{
            color: #1967f8;
        }
    }
}

